name: Deploy

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      environment:
        description: Environment
        required: true
      aws_access_key_id:
        description: aws_access_key_id
        required: true
      aws_secret_access_key:
        description: aws-secret-access-key
        required: true
      aws_app_id:
        description: aws_app_id
        required: true

env:
  ENVIRONMENT: ${{ github.event.inputs.environment || 'dev' }}
  AWS_ACCESS_KEY_ID: ${{ github.event.inputs.aws_access_key_id || '' }}
  AWS_SECRET_ACCESS_KEY: ${{ github.event.inputs.aws_secret_access_key || '' }}
  AMPLIFY_APP_ID: ${{ github.event.inputs.aws_app_id || '' }}
  AWS_REGION: 'eu-central-1'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.version || github.event.release.tag_name }}
      - name: configure amplify
        uses: ambientlight/amplify-cli-action@0.3.0
        with:
          amplify_command: configure
          amplify_env: prod
        env:
          AWS_ACCESS_KEY_ID: ${{ env.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ env.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ env.AWS_REGION }}
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn run build
      - name: Deploy project
        uses: ambientlight/amplify-cli-action@0.3.0
        with:
          amplify_command: publish
          amplify_env: prod
        env:
          AWS_ACCESS_KEY_ID: ${{ env.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ env.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ env.AWS_REGION }}
